:root {
    --primaryColor: #090300; /* default value */
    --backgroundColor: #090300; /* default value */
    --textColor: #ddd; /* default value */
    --borderColor : #fded02;
}

* {
    box-sizing: border-box; /* Apply box-sizing to all elements */
}

body {
    background-color: var(--primaryColor);
    color: var(--textColor);
}

#terminalContent {
    font: 1em Consolas, monaco, monospace;
    top: 5em;
    bottom: 6em;
}

.container {
    position: absolute; /* or fixed, depending on your needs */
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
}

#githubIcon {
    float: right;
    color: black;
    transform: scale(1.3,1.3);
    margin-right: 25px;
    transition: 0.2s ease-in-out;
}
#githubIcon:hover {
    transform: scale(1.5, 1.5);
}

#terminalBody {
    padding: 2% 5% 3px 2%;
    background-color: var(--primaryColor);
    height: calc(100% - 10px); 
    overflow-y: auto;
    border: solid 2px var(--textColor);
}

#BodyContent {
    float: left;
}

input {
    width: 30%;
    background-color: var(--primaryColor);
    border-width: 0;
    color: var(--textColor);
    font: 1em Consolas, monaco, monospace;
    font-weight: 700;
}
input:focus {
    outline: none;
}

a {
    color: #0dd;
    transition: 0.2s ease-in-out;
}
a:hover {
    color: #EF4F4F;
}

.guest {
    color: green;
}

.localhost {
    color: red;
}


